
/*General Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: black;
    height: 100vh;;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #ffffff;
}

button:hover{
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

 /*Header Style */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Topo do site Style */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.topo-do-site h1{
    font-size: 42px;
    color: #fff;
    line-height: 40px;
    border-right: 4px solid aqua;
    width: 12ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(12),
    blinking 0.5s infinite step-end alternate;
}

.topo-do-site .txt-topo-site h1 span{
    color: aqua;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blinking {
    50% {
        border-color: transparent
    }
}

/*SKILL STYLES*/
section.skills{
    padding: 40px 4%;
}

section.skills .flex{
    gap: 60px;
}

.skills .skills-box{
    color: #ffffffd3;
    padding: 40px 4%;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.skills .skills-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.skills .skills-box i{
    font-size: 70px;
    color:#ffffff
}

.skills .skills-box h3{
    font-size: 28px;
    margin: 20px 0;
}

/* SOBRE STYLES */
section.sobre{
    padding: 80px 4%;
}

section .sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
    width: 50%;
}

.sobre .txt-sobre h2{
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: aqua;
    display: block;
}

.sobre .txt-sobre p{
    margin-bottom: 30px;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* PROJETOS STYLES */
section.projetos{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projetos .flex{
    justify-content: space-around;
}

img-port{
    width: 360px;
    height: 460px;
    background-color: aqua;
    border-radius: 20px;
}